%div{ class: 'flex bg-[#FEF3E2]' }
  - if logo?
    %div{ class: 'flex-shrink-0 flex items-center justify-center border-[#DD0303] p-1 ' }
      = image_tag logo_url, alt: 'Logo', class: 'h-[clamp(1.4rem,3.75vw,9rem)] w-auto object-contain'

  .marquee-container.flex-1
    .marquee{ data: { notice_board_target: 'marquee' } }
      %div{ class: 'px-8 sm:px-12 md:px-16 font-bold text-[clamp(1.4rem,3.75vw,9rem)] leading-[1.1]', data: { notice_board_target: 'marqueeContent' } }
        = marquee_text