- content_for :title, t('admin.news_posts.edit')

= render Admin::PageHeaderComponent.new(title: t('admin.news_posts.edit'), subtitle: @news_post.title, icon: 'edit')

.bg-white.shadow.rounded-lg.p-6 
    = render 'form', news_post: @news_post